body{
    margin: 0;
}

.header{
    text-align: center;
}

h1{
    font-size: 50px;
}

#main-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px 10px;
}

.card{
    box-sizing: border-box;
    width: 18%;
    border: 1px solid gray;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #252850;
    color: #FFFFFF;
}

.card .img-card{
    width: 100%;
    border-radius: 10px;
}

.card .button-card{
    width: 100%;
    background-color: #7D7F7D;
    color: #FFFFFF;
    border: none;
}